---
layout: default
title: HOME
---

<div class="row">
	<div class="nine columns centered">
		
		<div class="panel">
		<h5>Campaign Launched to Bring Home Loved and Celebrated Internet Volunteer Detained in Syria</h5>
		</div>
		
		<p><a href="http://www.flickr.com/photos/joi/4670781482/" title="Bassel by Joi, on Flickr"><img src="http://farm5.staticflickr.com/4018/4670781482_d072301ef0_b_d.jpg" width="100%" alt="Bassel"></a></p>
		
		<p class="caption"><a href="http://www.flickr.com/photos/joi/4670781482/">Bassel</a> by <a href="http://www.flickr.com/photos/joi/">Joi Ito</a>, on Flickr

		<dl class="nice contained tabs">
			<dd><a href="#english" class="active">English</a></dd>
			<dd><a href="#arabic" dir="rtl">العربية</a></dd>
		</dl>

		<ul class="nice tabs-content contained">
			<li class="active" id="englishTab">
				  {% capture english_letter %}
					{% include letter-english.md %}
				  {% endcapture %}
				  {{ english_letter | unindent | markdownify }}
			</li>
			<li id="arabicTab" dir="rtl">
				  {% capture arabic_letter %}
					{% include letter-arabic.md %}
				  {% endcapture %}
				  {{ arabic_letter | unindent | markdownify }}
			</li>
		</ul>
	</div>

</div>

<div class="row">
	<div class="nine columns centered">
		<div class="panel">
			<h5>Sign the Letter</h5>
		</div>
	</div>

</div>

<div class="row">
	<div class="nine columns centered">
		{% include support-form.html %}
	</div>
</div>

<div class="row">
	<div class="nine columns centered">
		<div class="panel">
			<h5>Supporters</h5>
		</div>
		<p>{% include spreadsheet.html %}</p>
	</div>
</div>

<div class="row">
	<div class="nine columns centered">
		<h5>About</h5>
		{% include about.html %}
		
		<h5>Contact</h5>
		<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		
		<h5>Follow</h5>
		<p><a href="http://www.facebook.com/{{ site.facebook }}">{{ site.facebook }} on Facebook</a></p>
		<p><a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }} on Twitter</a></p>
		<p>Use the #freebassel hashtag in social media.</p>
	</div>
</div>
