<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<link href="/assets/images/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />

	<title>{{site.title}} - {{page.title}}</title>
  
	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% else %}
		<meta name="description" content="{{ site.description }}">
	{% endif %}
	
		{% if page.tags %}
		<meta name="keywords" content="{{page.tags | join: ', '}}" />
		{% else %}
		<meta name="keywords" content="{{site.keywords | join: ', '}}" />
		{% endif %}
  
	<!-- Included CSS Files -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/stylesheets/foundation.css">
	<link rel="stylesheet" href="/assets/stylesheets/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->
	
	<script src="/assets/javascripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- container -->
	<div class="container">

		<div class="row">
			<div class="nine columns centered title">
				<h1><a href="/">#{{site.title}}</a></h1>
			</div>
		</div>

		{{ content }}
		
		<footer>
		
			<div class="row">
				<div class="nine columns centered">
					<h5>About</h5>
					{% include about.html %}

					<h5>Press Release</h5>
					{% include press.html %}

					<h5>Contact</h5>
					<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

					<h5>Follow</h5>
					<p><a href="http://www.facebook.com/{{ site.facebook }}">{{ site.facebook }} on Facebook</a></p>
					<p><a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }} on Twitter</a></p>
					<p>Use the #freebassel hashtag in social media.</p>
				</div>
			</div>
		
		</footer>
		

	</div>
	<!-- container -->




	<!-- Included JS Files -->
	<script src="/assets/javascripts/jquery.min.js"></script>
	<script src="/assets/javascripts/foundation.js"></script>
	<script src="/assets/javascripts/app.js"></script>

	<script>
		var _gaq=[['_setAccount','UA-742868-6'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>
</html>
